
$bg: #2A3136;
$text-colour: #88949D;
$accent-colour: #fbf236;

label {
    color:$accent-colour;
    font-size:1.5em;
}

input[type='text'],textarea {
    background:none;
    border: 1px solid #617879;
    width: 100%;
    padding:22px 15px;
    color:$text-colour;
}

h1 {
  font-weight: bold;
  color: $text-colour;
}

textarea {
    min-height:70px;
}

.filled {
    background:$accent-colour;
    color:$bg;
    float:left;
    border-radius:0;
    font-size: 1.5em;
    text-transform:uppercase;
    font-family:'Source Code Pro';
    font-weight:700;
    padding: 12px 22px;
    margin-top:40px;
}

.alert {
    margin: -5px 0 20px 0;
}
