
$bg: #2A3136;
$text-colour: #88949D;
$accent-colour: #fbf236;


input[type='text'],textarea {
    background:none;
    border: 1px solid #617879;
    max-width: calc(100vw - 100px);
    margin: 27px;
    float:left;
    width: 20%;
    padding:22px 15px;
    color:$text-colour;
}
