
<app-search (keyPress)="itemSelected($event)">
</app-search>
{{val | json}}
<p>Hello, {{val | json}}</p>
<div class="row">
  <div class="columns small-12 medium-6 large-3 books" *ngFor="let book of books | bookFilter: searchKeyword">
    <div class="book-container">
      <div class="row">
        <div class="columns small-12 large-10">
          <a routerLink="/details/{{book._id}}" class="book-title">{{book.title}}</a>
        </div>
        <div class="columns small-12 large-2 show-for-large">
          <a href="{{ book.url }}" target="_blank" class="external">
            <img src="/assets/images/wiki.png" id="wiki">
          </a>
        </div>
      </div>
      <p>{{ book.author }}</p>
      <a routerLink="/details/{{book._id}}" class="cta-btn btn2">More Info</a>
    </div>
  </div>
</div>
