$text-color: #88949D;

p {
  font-size:1.5em;
}

#wiki {
  width:300px;
  padding:30px;
  position: right;
  display: flex;
  align-items: center;
  justify-content: center
}

#delete {
  width:50px;
}

#cancel {
  width:50px;
}

a#back {
    background: url('/assets/images/back.png') no-repeat;
    width:140px;
    height:35;
    font-size:1.5em;
    display:block;
    color:#2A3136;
    font-weight:bold;
    text-transform: uppercase;
    text-align: center;
    padding-top:1px;
    margin-bottom: 40px;
}

input[type='text'],textarea {
    background:none;
    border: 1px solid #617879;
    width: 100%;
    padding:22px 15px;
    color:$text-color;
}

textarea {
    min-height:140px;
}

.btn3 {
  float: left;
  margin-left: 52px;
  margin-top: 52px;
  padding:10px;
  position: relative;
  height:80px;
  width: 80px;
  font-size:1.4em;
  text-align: center;
  line-height: 3;
  width: 140px;
}

.btn-group button {
  display:table;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
