<div *ngIf="book" class="body-blur">
  <form [formGroup]="bookForm" (ngSubmit)="updateBook(bookForm.value)">
    <div class ="row">
      <div class="columns small-12 medium-10">
        <a routerLink="/" id="back">Back</a>
        <h1 *ngIf="!editMode">{{ book.title }}</h1>
        <input *ngIf="editMode" type="text" name="title" [formControl]="bookForm.controls['title']">
        <h2 *ngIf="!editMode">{{ book.author }}</h2>
        <input *ngIf="editMode" type="text" name="author" [formControl]="bookForm.controls['author']">
        <input *ngIf="editMode" type="text" name="url" [formControl]="bookForm.controls['url']">
      </div>
      <div class="columns small-12 medium-2">
        <a href="{{ book.url }}" id="external-btn">
          <img src="/assets/images/wiki.png" id="wiki">
        </a>
      </div>
    </div>
    <div class="row columns">
      <p *ngIf="!editMode">{{ book.genre }} <p>
      <input *ngIf="editMode" type="text" name="genre" [formControl]="bookForm.controls['genre']">
      <p *ngIf="!editMode">{{ book.yearPublished }} <p>
      <input *ngIf="editMode" type="text" name="yearPublished" [formControl]="bookForm.controls['yearPublished']">
      <p *ngIf="!editMode">{{ book.description }} <p>
      <textarea *ngIf="editMode" name="description" id="description" [formControl]="bookForm.controls['description']">{{ book.description }}</textarea>
    </div>
    <input *ngIf="editMode" type="submit" class="cta-btn filled btn3" value="Submit" [disabled]="!bookForm.valid">
  </form>
    <div class="btn-group">
      <button *ngIf="!editMode" type="edit" class="cta-btn filled btn3" (click)="editMode=true">Edit</button>
      <button *ngIf="showDelete" type="delete" class="cta-btn filled btn3" (click)="showDelete=false">Delete</button>
      <button *ngIf="!showDelete" type="cancel" class="cta-btn filled btn3" (click)="showDelete=true">Cancel</button>
      <button *ngIf="!showDelete" type="confirm" class="cta-btn filled btn3" (click)="deleteBook()">Confirm</button>
    </div>
</div>
